<launch>
  <arg name="robot_namespace" default="scout"/>
  <arg name="robot_type" default="scout_v0"/>
  <arg name="model_file" default="$(find scout_description)/urdf/scout_with_rs.xacro"/>

  <group ns="$(arg robot_namespace)">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder
                    $(arg model_file)
                    enable_logging:=false
                    enable_ground_truth:=true
                    mav_name:=$(arg robot_type)
                    namespace:=$(arg robot_namespace)"/>
    <param name="tf_prefix" value="$(arg robot_namespace)"/>
  </group>
</launch>
